.container {
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
background-color: rgb(98, 159, 194);
  font-size: 20px;
    box-shadow: 0 8px 20px rgba(1, 2, 1, 2);
  }
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
  .container p {
    border: 1px solid black;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
background-color: rgb(232, 229, 229);
  }
